* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust:none !important; -ms-text-size-adjust:none !important;
}

/*
   font-family: 'IM Fell DW Pica', serif;
   font-family: 'IM Fell DW Pica SC', serif;
*/

body {
    background: #e7dfcc;
    color: #3d3934;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

a {
    color: #2632c2;
}

h1 {
    border-bottom: 3px solid #3d3934;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: .5em;
    width: 100%;
}

.nav {
    margin-bottom: 20px;
}
    .nav a {
        color: #3d3934;
        display: inline-block;
        font-family: 'IM Fell DW Pica', serif;
        padding-right: 20px;
        text-decoration: none;
    }
    .nav a:hover {
        text-decoration: underline;
    }

.itinerary h2 {
    border-top: 3px solid #3d3934;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 1.5em;
    text-align: center;
}

#map-container {
    border: 3px solid #3d3934;
    background: #e7dfcc;
    clear: both;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
}

.leaflet-popup-content dt {
    font-weight: bold;
}
.leaflet-popup-content dd {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}

table {
    border-spacing: 2px;
    border-collapse: separate;
}
    table.data {
        margin-bottom: 40px;
    }
.itinerary th {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 16px;
    font-weight: 400 !important; /* Not sure what's overriding this...*/
    text-align: center !important;
}
.itinerary td {
    font-size: 13px;
    padding: 4px;
}
.itinerary tr.odd td {
    background: #f2ebd3;
}
.itinerary h3 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 36px;
    font-weight: 400;
}
    .leaflet-popup-content h3 {
        color: #3d3934;
        font-family: 'IM Fell DW Pica SC', serif;
        font-weight: 400;
    }
    .leaflet-popup-content p {
        color: #3d3934;
        font-size: 12px !important;
    }

#stepper {
    min-height: 140px;
    position: relative;
}
#stepper h2 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-weight: 400;
    margin-bottom: 10px;
}
#stepper h2,
#stepper p {
    line-height: 1em;
    text-align: center;
}
#stepper p {
    font-family: 'IM Fell DW Pica', serif;
    line-height: 1.2em;
}
#stepper a {
    color: #333;
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 48px;
    position: absolute;
    text-decoration: none;
    width: 30%;
}
#stepper a#step-prev {
    left: 0px;
    text-align: right;
    top: 10px;
}
#stepper a#step-next {
    right: 0px;
    top: 10px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    h1, .nav {
        padding-right: 20px;
        padding-left: 20px;
    }
    #stepper a {
        width: 20%;
    }
}