---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>A &ldquo;Frightful Number&rdquo; &ndash; Mapping Daniel Dafoe&rsquo;s A Journal of the Plague Year</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link type="text/css" media="screen" rel="stylesheet" href="ui/css/styles.css" />
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" media="all" />

    <link type="text/css" media="screen" rel="stylesheet" href="ui/css/responsive-tables.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="ui/js/responsive-tables.js"></script>

    <style type="text/css">
        /* Dynamically set up CSS styles for event data in the timeline based on corresponding parishes */
    {% for parish in site.data.parishes %}
        tr.parish-{{ parish.id }} td { background: {{ parish.background-color }}; }
    {% endfor %}
    </style>
</head>

<body>
    <h1>A &ldquo;Frightful Number&rdquo; &ndash; Mapping Daniel Dafoe&rsquo;s A Journal of the Plague Year</h1>

    <div id="map"></div>

    <script type="text/javascript" src="ui/js/script.js"></script>

    <div class="itinerary">
        {% assign events = site.data.a-frightful-number-plague | group_by:"date_year" %}
        {% for year in events %}
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th><h3>{{ year.name }}</h3></th>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive">
            <tr>
                <th width="8%">Date</th>
                <th width="12%">Parish</th>
                <th width="8%">Buried Plague</th>
                <th width="6%">Buried Parish</th>
                <th width="8%">Buried Plague Total</th>
                <th width="6%">Buried Total</th>
                <th width="12%">Location</th>
                <th width="40%">Notes</th>
            </tr>

            {% for event in year.items %}
            <tr class="{% cycle 'odd', 'even' %} parish-{{ event.parish_id }}">
                <td id="event-{{ event.sequence }}">{{ event.date_descriptive }}</td>
                <td>{% if event.parish_id != null %}<a href="#" onclick="javascript:parishPolygon{{ event.parish_id }}.openPopup();">{% endif %}{{ event.parish }}{% if event.parish != null %}</a>{% endif %}</td>
                <td>{{ event.buried_plague }}</td>
                <td>{{ event.buried_parish_total }}</td>
                <td>{{ event.buried_plague_total }}</td>
                <td>{{ event.buried_total }}</td>
                <td>{{ event.location_descriptive }}</td>
                <td>{{ event.notes }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    <script type="text/javascript">
    // Dynamically add parishes to the map and load in their data/content based on Jekyll data files.
    var popupContents;

    {% for parish in site.data.parishes %}
        // Fetch GeoJSON markers for parish polygon vertices
        $.getJSON( "parish-{{ parish.id }}.geojson", function (data) {
            var vertices = [];
            $.each( data.features, function(i, feature) {
                vertices.push([ feature.geometry.coordinates[1], feature.geometry.coordinates[0] ])
            })
            var parishPolygon{{ parish.id }} = L.polygon([ vertices ], { color: "{{ parish.color }}" }).addTo(map);

            popupContents =  '<div style="max-height: 175px; overflow-y: scroll;">';
            popupContents += "<h3>{{ parish.parish-name }}</h3>";
            popupContents += "<dl>";
            {% assign events = site.data.a-frightful-number-plague | where:"parish_id",{{parish.id}} %}
            {% for event in events %}
            popupContents += '<dt><a href="#event-{{ event.sequence }}">{{ event.date_descriptive }}</a></dt>'
            popupContents += "<dd><b>Buried Plague: {% if event.buried_plague != null %}{{ event.buried_plague }}{% else %}0{% endif %}.</b> {{ event.notes }}</dd>";
            {% endfor %}
            popupContents += '</dl></div>';
            parishPolygon{{ parish.id }}.bindPopup( popupContents );
        } )
    {% endfor %}
    </script>
</body>
</html>