---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <style type="text/css">
    #map {
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
    }

    dt {
        font-weight: bold;
    }
    dd {
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 0;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-right: 40px;
        padding-left: 40px;
    }

    table {
        border-spacing: 2px;
        border-collapse: separate;
    }
    th {
        font-size: 14px;
        text-align: left;
    }
    td {
        font-size: 14px;
        padding: 4px;
    }
    tr.odd td {
        background: #efefef;
    }
    h3 {
        font-size: 36px;
    }
    </style>
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" media="all" />
</head>

<body>

    <div id="map"></div>

    <script type="text/javascript">
        var attribution_1667 = 'Map image from <a href="#">Hofstra DRC</a> via <a href=#">Source</a>';
        var attribution_2015 = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery © <a href="http://mapbox.com">Mapbox</a>';

        // use a variable for the 1667 tile set
        var survey_1667 = L.tileLayer( 'http://mapwarper.net/maps/tile/8221/{z}/{x}/{y}.png' , { attribution: attribution_1667 } );

        var london_2015 = L.tileLayer( 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png',{id: 'clearbold.l4gjpd88',attribution: attribution_2015});

        // create the map with the default the tileset
        var map = L.map('map', {layers:survey_1667});

        // create a variable to hold all tile sets and name them so we can use it for the toggler
        var baseMaps = {
            "London 2015": london_2015,
            "Surveigh 1667": survey_1667
        };

        // add the tile set switcher control
        L.control.layers(baseMaps).addTo(map);

        // zoom and center in
        map.setView([51.51315, -0.0881481171],15);

        // 51.5133631072273, -0.0889500975608826
        var testMarker = L.marker([51.5133631072273, -0.0889500975608826]).addTo(map);
        testMarker.bindPopup("This is <b>formatted</b> content about this location.").openPopup();

        var testParish = L.polygon([ [51.5157266666, -0.1005667448], [51.5150456532, -0.0973373652], [51.5137837484, -0.097348094], [51.513670242, -0.0994938612], [51.5125752248, -0.104418397], [51.513523351, -0.1050943136], [51.5141776801, -0.1043218374] ], { color: '#0074d9' }).addTo(map);

        testParish.bindPopup('<div style="max-height: 175px; overflow-y: scroll;">'
                + '<h3>St. Brides</h3>'
                + '<dl>'
                    + '<dt>December 20-27</dt>'
                    + '<dd><b>Buried: 0.</b> Both St. Brides and St. James Clarkenwell are adjacent to St. Andrews Holborn. H.F. notes that the usual number for burials per week in St. Giles and St. Andrews was roughly 12 to 17 or 19 (3). He also notes the usual number of burials per week in St. Brides and St. James were roughly 4 to 6 or 8 (5).</dd>'
                    + '<dt>December 27-January 3</dt>'
                    + '<dd><b>Buried: 6.</b></dd>'
                    + '<dt>January 3-10</dt>'
                    + '<dd><b>Buried: 11</b></dd>'
                    + '<dt>January 10-17</dt>'
                    + '<dd><b>Buried: 12</b></dd>'
                + '</dl>'
            + '</div>').openPopup();

    </script>

    <div class="itinerary">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th width="15%">Date</th>
                <th width="15%">Parish</th>
                <!-- <th width="5%">Year</th> -->
                <th width="8%">Buried Parish</th>
                <th width="7%">Buried Total</th>
                <th width="15%">Location</th>
                <th width="40%">Notes</th>
            </tr>
        {% assign events = site.data.a-frightful-number-plague | group_by:"date_year" %}
        {% for year in events %}
            <tr>
                <td colspan="7"><h3>{{ year.name }}</h3></td>
            </tr>
            {% for event in year.items %}
            {% case event.parish %}
                {% when "St. Brides" %}
                {% assign color = 'rgba(0, 116, 217, .6)' %}
                {% when "St. James Clarkenwell" %}
                {% assign color = 'rgba(154, 15, 2, .6)' %}
                {% when "St. Giles's" %}
                {% assign color = 'rgba(3, 137, 17, .6)' %}
                {% when "St. Andrew's" %}
                {% assign color = 'rgba(66, 66, 76, .6)' %}
                {% when "St. Mary-Wool-Church" %}
                {% assign color = 'rgba(152, 102, 197, .6)' %}
                {% when "St. Andrew's-Holborn" %}
                {% assign color = 'rgba(160, 66, 66, .6)' %}
                {% when "St. Clement's-Danes" %}
                {% assign color = 'rgba(251, 107, 2, .6)' %}
                {% else %}
                {% assign color = "" %}
            {% endcase %}
            <tr class="{% cycle 'odd', 'even' %}">
                <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.date_descriptive }}</td>
                <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.parish }}</td>
                <!-- <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.date_year }}</td> -->
                <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.buried_parish_total }}</td>
                <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.buried_total }}</td>
                <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.location_descriptive }}</td>
                <td {% if color != empty %}style="background: {{ color }};"{% endif %}>{{ event.notes }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    </div>
</body>
</html>