/* Search */
$color-search: #c2b4a5;
$color-searchBackground: #625044;
$color-searchFocus: #00B4CC;
$color-searchPlaceholder: #DDDDDD;
$size-searchBox: 2rem;
$color-searchResultsLinkHover: #c2b4a5;

mark {
    background-color: yellow;
    color: black;
}

.search {
	width: 100%;
	position: relative;
}

.searchTerm {
	font-size: $size-searchBox;
	float: left;
	width: 100%;
	border: 0;
	padding: .4rem .5rem .5rem 3.5rem;
	border-radius: 1rem 0 0 1rem;
	outline: none;
	color: $color-searchPlaceholder;
}

input::placeholder {
	color: $color-searchPlaceholder;
}

.searchTerm:focus {
	color: $color-searchFocus;
}

.searchButton {
	position: absolute;
	top:0;
    width: 3.2rem;
    left: -.1rem;
    margin: 0;
    font-size: 2.82rem;
	right: 0.1rem;
	border: 1px solid $color-search;
	background: $color-search;
	text-align: center;
	color: white;
	border-radius: .3rem 0 0 .3rem;
	cursor: pointer;
}

.searchbox {
	background-color: $color-searchBackground;
	border-radius: 0.3rem 0.3rem 0 0;
	padding: 1rem;
	height: 5.5rem;
}

#search-results .searchMsgWrapper {
	text-align: center;
}

#search-results .searchMsg {
	background:rgba(255, 255, 255, 0.25);
    padding:5rem;
    border-radius:1rem;
    width:100%;
    font-size: 1.2em;
}
/*
	Small search overrides
*/
@media all and (max-width: 940px) {
  .smallSearch{
    display:none;
  }
}
.smallSearch input::placeholder {
	content: '';
}

.smallSearch .searchButton {
  width:2rem;
  margin: 0 0 0;
  font-size: 1.6rem;
  top:0;
  border-radius: 0.3rem 0 0 0.3rem;
  background-color: #625044; }

.smallSearch .searchbox {
  width:10rem;
  position: relative;
  top: 0.8rem;
  padding: 0;
  margin: 0;
  height: 0;
  }

.smallSearch .searchTerm {
  font-size: 1rem;
  border-radius: 0.3rem;

  }

/*
	Search results listing
*/
#search-results {
	padding: 1rem;
}

#search-results h3 {
	line-height: 1.2rem;
	font-size: 1rem;
}

#search-results p {
	padding: 0 0.4rem;
	line-height: 1.2rem;
}

#search-results h3 a:hover {
	color: $color-searchResultsLinkHover;
}

#search-results h3 a {
	text-decoration: none;
	border-bottom: 1px solid rgba(98, 80, 68, 0.14);
}
